<form #stateSelect="ngForm" (ngSubmit)="onSubmit(stateSelect)">
    <div class="form-group">
        <label for="state">State</label>
        <select name="stateId" id="stateId" class="form-control" [(ngModel)]="stateId" name="stateId"
        #pickedState="ngModel" >
          <option [value]=i *ngFor="let c of states; let i=index;" [selected]="c['state']=='Total'">{{ c['state'] }}</option>
        </select>
      </div>
    <button type="submit">Submit</button>
</form>

<div class="container">
  <div class="row">
    <div class="col">
      <app-linechart></app-linechart>
    </div>
    <div class="col">
      <app-pie-chart [selectedStateId]="selectedStateId" ></app-pie-chart>
    </div>
  </div>
  <br>
  <div class="row" style="display: block; height: 100%; width: 100%;">
    <app-state-table></app-state-table>
  </div>
</div>



